.searcherContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: visible;
    font-family: "Poppins";
    text-transform: capitalize;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;


    &Row {
      padding-top: 15px;
      display: flex;
      gap: 5px;
    }
}